/* #proyecto{
    border: 5px;
    border-style: solid;
    border-color: black;
} */
.body{
    
}

#root{
    background: rgb(2,0,36);
    background: linear-gradient(75deg, rgba(2,0,36,1) 0%, rgba(232,219,219,1) 17%, rgb(118, 178, 190) 100%);
    background-size: contain;
}

/* HomeContainer */
.home{
    margin-top: 70px;
    margin-bottom: 40px;
}

/*Profile style*/
.containerCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.292);
    border-radius: 25px;
    box-shadow:  0 0 20px;
}

.card > p{
    text-align: justify;
    text-decoration: none;

}

.profile-image{
    margin: 20px;
}

#imgProfile{
    max-width: 200px;
    max-height: 200px;
    border-radius: 20px;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icons > a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

/* .icons > a:link, a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
  } */
  

/* Projects images */

#proyecto1 {
    background-image: url('../../assets/proyectos/proyecto1-landing.jpg');
    max-width: 600px;
    min-height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-bottom: 5px;
}

#proyecto1 > p{
    text-align: justify;
}


#proyecto2 {
    background-image: url('../../assets/proyectos/proyecto2-crud.jpg');
    max-width: 600px;
    min-height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-bottom: 5px;
}

#proyecto2 > p{
    text-align: justify;
}

#proyecto3 {
    background-image: url('../../assets/proyectos/proyecto3-dashboard.jpg');
    max-width: 600px;
    min-height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-bottom: 5px;
}

#proyecto3 > .text-p{
    text-align: justify;
}

#proyecto4 {
    background-image: url('../../assets/proyectos/proyecto4-restaurant.jpg');
    max-width: 400px;
    min-height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-bottom: 5px;
}


#proyecto4 > p{
    text-align: justify;
}


/* Headers style */
#containerTituloh1 h1,
#containerTituloh3 h3,
#containerTituloh2 h2   {

    display: block;
    height: 45px;
    line-height: 45px;
    /* Se toma de base una imagen para sobre saltar de mejor manera
        la sobra que se le dara al cuadro donde se encuentra el h3 */
    background: url("../../assets/pxgray.png");
    /* Para generar un efecto de sobra tipo 3d se hizo uso de varias
    sombrar intensifancando cada vez mas en un 1px, esto se puede ir 
    haciendo por partes probando a su vez que hace cada sombra */
    box-shadow: 0px 1px 0px #232425,
        1px 2px 0px #232425,
        2px 3px 0px #232425,
        3px 4px 0px #232425;
    font-size: 30px;
}

.containerCenter{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.headers{
    display: block;
    width: 90%;
    height: 45px;
    line-height: 45px;
    box-shadow: 0px 1px 0px #232425,
    1px 2px 0px #232425,
    2px 3px 0px #232425,
    3px 4px 0px #232425;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.317);
}

.headers > h2{
    text-align: center;
}


/*  */
.containerTecImgs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





#html5{
    width: 140px;
    height: 120px;
}

#css{
    width: 110px;
    height: 120px;
}

#javascript{
    width: 250px;
    height: 120px;
}

#reactjs{
    width: 190px;
    height: 120px;
}


#boostrap{
    width: 155px;
    height: 120px;
}

#github{
    width: 150px;
    height: 120px;
}

#mongo{
    width: 250px;
    height: 120px;
}

#node{
    width: 250px;
    height: 120px;
}

/* HomeContainer */
.about{
    margin-top: 70px;
    margin-bottom: 40px;
}

/* MEDIA QUERYS */

@media (max-width: 992px) {

}
